@value sm, md, xs, lg from "../../style/breakpoints.module.css";

@media screen and (min-width: 340px) {
  .styledImage {
    right: 20px;
  }
}

@media xs {
  .styledImage {
    bottom: 51px;
    right: 0px;
  }
  .containerLabels {
    margin-top: 34px;
  }
  .styledLabelContainerHot {
    margin-left: 5px;
    margin-right: 5px;
  }
  .styledLabelContainerLP {
    margin-left: 5px;
    margin-right: 5px;
  }
  .styledLabelContainerAPR {
    margin-left: 5px;
    margin-right: 5px;
  }
  .styledLabelContainerLiquidity {
    margin-left: 5px;
    margin-right: 5px;
  }
  .styledLabelContainerEarned {
    margin-left: 5px;
    margin-right: 5px;
  }
  .styledHeading {
    font-size: 30px;
    max-width: 240px !important;
  }
  .styledPage {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media sm {
  .styledLabelContainerHot {
    margin-left: 15px;
    margin-right: 15px;
  }
  .styledLabelContainerLP {
    margin-left: 15px;
    margin-right: 15px;
  }
  .styledLabelContainerAPR {
    margin-left: 15px;
    margin-right: 15px;
  }
  .styledLabelContainerLiquidity {
    margin-left: 15px;
    margin-right: 15px;
  }
  .styledLabelContainerEarned {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media md {
  .controlContainer {
    flex-direction: row;
    height: 59px;
    padding: 0px;
    justify-content: flex-start;
    padding-left: 50px;
    transform: translateY(-60px);
  }
  .ToggleText {
    margin-left: 8px;
  }
  .labelWrapper {
    flex-direction: row;
    margin-left: 0px;
    align-items: center;
  }
  .viewControls {
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .viewControls > div {
    padding: 0;
  }
  .header {
    padding-left: 24px;
    padding-right: 24px;
    height: 300px;
  }
  .styledImage {
    bottom: 0px;
    right: 0px;
  }
  .containerLabels {
    transform: translateY(-60px);
  }
  .styledLabelContainerHot {
    margin-left: 35px;
    margin-right: 35px;
  }
  .styledLabelContainerLP {
    margin-left: 35px;
    margin-right: 35px;
  }
  .styledLabelContainerAPR {
    margin-left: 35px;
    margin-right: 35px;
  }
  .styledLabelContainerLiquidity {
    margin-left: 35px;
    margin-right: 35px;
  }
  .styledLabelContainerEarned {
    margin-left: 35px;
    margin-right: 35px;
  }
  .cardContainer {
    transform: translateY(-60px);
  }
  .buttonCheckWrapper {
    width: fit-content;
  }
  .styledHeading {
    font-size: 44px;
    max-width: 400px !important;
  }
  .styledPage {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media lg {
  .styledText {
    font-size: 15px !important;
  }
  .styledLabelContainerHot {
    position: absolute;
    top: 6px;
    left: 38px;
    margin: 0px;
  }
  .styledLabelContainerLP {
    position: absolute;
    top: 6px;
    left: 169px;
    margin: 0px;
  }
  .styledLabelContainerAPR {
    position: absolute;
    top: 6px;
    left: 365px;
    margin: 0px;
  }
  .styledLabelContainerLiquidity {
    position: absolute;
    top: 6px;
    left: 500px;
    margin: 0px;
  }
  .styledLabelContainerEarned {
    margin: 0px;
    position: absolute;
    top: 6px;
    left: 651px;
  }
}
@media xl {
  .styledLabelContainerAPR {
    left: 409px;
  }
  .styledLabelContainerLiquidity {
    left: 621px;
  }
  .styledLabelContainerEarned {
    left: 801px;
  }
  .styledHeading {
    font-size: 60px;
    max-width: 600px !important;
  }
}
