@value sm, md, xs, lg, xl from "../../../style/breakpoints.module.css";

@media sm {
  .iconImage {
    width: 57px;
    height: 57px;
  }
}

@media md {
  .vaultTabButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 64px;
    margin-right: 44px;
  }
}

@media lg {
  .vaultTabButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 34px;
  }
}

@media xl {
  .vaultTabButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 64px;
    margin-right: 55px;
  }
}
